<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/head") %>

  <body>
    <%-include("./partials/header") %>
    <h1>Estas en la vista ejs <%=titulo%></h1>
    <%-include("./partials/footer") %>

    <h2>aca debemos poner un enlace a /heroes</h2>
  </body>
</html>
