

p{
    background-color: crimson;
/*     display: inline-block; */
/* width:200px;
height: 250px; */
}
img{
    display: none;
    width: 74px;
    height: 71px;
}

span{
/*     display: inline-block; */
    background-color: blue;
    color: yellow;
    width: 74px;
    height: 71px;
    margin-right: 20px;

}

a{  
text-decoration: none;
color: black;
}

li{
background-color: crimson;
height: 50px;
width: 150px;
list-style: none;
text-decoration: none;
}



/* WIDTH =  ANCHO
HEIGHT = ALTO */

/* right  - derecha
left - izquierda
top  - arriba
bottom - abajo */


/* MODELO DE CAJA- BOX MODELING
FLEX 
GRID */