<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>express-validator</title>
</head>
<body>
<h1>Express-Validator</h1>
    
<form action="/registrar" method="POST">
    <div class="container">

    <div class="mb-3">
      <label for="nya" class="form-label">Nombre Completo</label>
      <input type="text" class="form-control" id="nya" name="nya" value="<% if(typeof valores!="undefined") {%><%= valores.nya %><%  }%>">
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">E-mail</label>
      <input type="text" class="form-control" id="email" name="email" value="<% if(typeof valores!="undefined") {%><%= valores.email %><%  }%>">
    </div>

    <div class="mb-3">
        <label for="edad" class="form-label">Edad</label>
        <input type="text" class="form-control" id="edad" name="edad" value="<% if(typeof valores!="undefined") {%><%= valores.edad %><%  }%>">
      </div>
 
    <button type="submit" class="btn btn-primary">REGISTRAR</button>
  </form>

  <% if(typeof validaciones != "undefined"){ %>
    <% validaciones.forEach((validacion)=>{%>
        <div class="alert alert-danger" role="alert">
        <strong><%= validacion.msg %></strong>
          </div>

        <% }) %>
  
    <% } %>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>